<!--STARTNOSOLR-->
<div class="header" role="navigation" aria-label="breadcrumbs navigation">
 {% if not project == 'Documentation' %}
  <ul class="wy-breadcrumbs">
    <li><a href="{{ pathto(project) }}/../../Documentation/index.html">Documentation</a>/</li>
    <li><a href="{{ pathto(master_doc) }}">{{ project }}</a>/</li>
      {% for doc in parents %}
          <li><a href="{{ doc.link|e }}">{{ doc.title }}</a>/</li>
      {% endfor %}
    <li class="orange-text">{{ title }}</li>
  </ul>
  <p>
 {% endif %}
</div>
<!--ENDNOSOLR-->